#####################################################
# This file should be the same as `.prettierignore` #
# Make sure you update both of them                 #
#####################################################

# IDE
.idea/

# JS Stuff
node_modules/
package-lock.json

# Compiled code
dist/

# Config files
.eslintignore
.npmignore
.gitignore
.nvmrc
.prettierignore

# Scripts
scripts/
